<div class="row">
  <div class="large-12 columns">

<h2>Sign Up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row collapse">
      <div class="small-12 medium-4 columns">
        <%= f.text_field :first_name, placeholder: 'First Name', required: true, autofocus: true %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.text_field :last_name, placeholder: 'Last Name', required: true %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.text_field :username, placeholder: 'Username', required: true %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-12 medium-4 columns">
        <%= f.text_field :email, placeholder: 'Email Address', required: true %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.text_field :dollar_per_rvu, placeholder: 'RVU Dollar Amount', required: true %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :job_title, label: false, collection: ['Medical Provider', 'Administrative Staff'] %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-12 medium-6 columns">
        <%= f.text_field :password, placeholder: 'Password', required: true %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.text_field :password_confirmation, placeholder: 'Password confirmation', required: true %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.button :submit, "Sign Up", class: 'radius button' %>
      </div>
    </div>
  </div>
<% end %>

</div>
</div>

<%= render "devise/shared/links" %>


