
<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for @encounter, method: :post, remote: true do |f| %>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.text_field :patient_name, placeholder: 'Patient Name' %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.text_field :insurance_provider, placeholder: 'Insurance Provider' %>
      </div>
    </div>
  <%#= f.text_field :primary_md, placeholder: 'Primary MD' %>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.text_field :notes, placeholder: 'Notes' %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.association :procedure, label_method: :description, label: false, prompt: 'Procedure Description' %>
      </div>
    </div>
    <div>
      <%= f.button :submit, 'Add Encounter', class: 'button radius' %>
    </div>
    <% end %>
  </div>
</div>

<div id='encounters'>
  <table>
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Procedure Description</th>
        <th>HCPCS Code</th>
        <th>Work RVU</th>
        <th>Physician Fee</th>
      </tr>
    </thead>
    <tbody>
      <%= render @encounters %>
      <tr>
        <th>Total</th>
        <td colspan="2"></td>
        <td><%= @encounters.joins(:procedure).sum(:work_rvu) %></td>
        <td><%= @encounters.sum(:physician_fee) %></td>
      </tr>
    </tbody>
  </table>
</div>

