<%= simple_form_for @encounter, method: :post, remote: true do |f| %>
<div class="row collapse">
  <div class="small-3 columns">
    <%= f.label 'Patient Name', class: "right inline", title: "Name of your patient", data: {tooltip: true} %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :patient_name %>
  </div>
</div>
<div class="row">
  <div class="small-9 columns">
    <%= f.association :procedure, label_method: :description, label: 'Procedure Description' %>
  </div>
  <div class="small-3 columns">
    <%= f.input :notes, label: 'Notes', class: "right inline" %>
  </div>
  <div class="small-9 small-offset-3 columns">
    <%= f.button :submit, 'Add Encounter' %>
  </div>
</div>
<% end %>

<div id='encounters'>
  <table>
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Procedure Description</th>
        <th>HCPCS Code</th>
        <th>Work RVU</th>
        <th>Physician Fee</th>
      </tr>
    </thead>
    <tbody>
      <%= render @encounters %>
      <tr>
        <th>Total</th>
        <td colspan="2"></td>
        <td><%= @encounters.joins(:procedure).sum(:work_rvu) %></td>
        <td><%= @encounters.sum(:physician_fee) %></td>
      </tr>
    </tbody>
  </table>
</div>

