<div>
<% @encounters.each do |encounter| %>
  <table>
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Procedure Description</th>
        <th>HCPCS Code</th>
        <th>Work RVU</th>
        <th>Physician Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= encounter.patient_name %></td>
        <td><%= encounter.procedure.description %></td>
        <td><%= encounter.procedure.code %></td>
        <td><%= encounter.procedure.work_rvu %></td>
        <td>$<%= encounter.compensation %></td>
      </tr>
    </tbody>
  </table>
<%= button_to 'More Details', encounter, method: :get %>
<% end %>
</div>
