<div class="row"
  <div class="form-inputs">
    <div class="large-12 columns">

<h2>Welcome Back</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row">
        <div class="small-6 columns">
          <%= f.input :login, required: false, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :password, required: false %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.button :submit, "Sign In", class: 'button radius' %>
        </div>
      </div>

<% end %>
</div>
</div>

<%= render "devise/shared/links" %>


